<footer class="footer">
    <div class="footer-content">
      <div class="container">
        <div class="row">
          <div class="footer-col col-md-12 col-sm-12 about">
            <div class="footer-col-inner">
              <ul class="footer-links">
                <li><a title="NPI Overview" href="/about-us" role="link">About us</a></li>
                <li><a title="Write to NPI" href="/contact-list" role="link">Contact us</a></li>
                <li><a title="Suggestion for NPI" href="/feedback" role="link">Feedback</a></li>
                <li><a title="Recommend NPI" href="/termsandcondition" role="link">Terms and Conditions</a></li>
                <li><a title="Policies &amp; Disclaimer" href="/website-policy" role="link">Website Policy</a></li>
                <li><a href="/sitemap" role="link" title="Sitemap">Sitemap</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row footer-info">
          <div class="footer-col col-md-12 col-sm-12 contact">
            Website Content Managed by Department Name, Ministry Name, Government of India
            <br>
            Designed, Developed and Hosted by National Informatics Centre (NIC)
            <br>
            Last Updated: DD-MM-YYYY
          </div>
        </div>
      </div>
    </div>
  </footer>
  