 <div class="dashboard">
    <h1>Dashboard</h1>
    <nav>
      <div class="nav-item">
        <a class="dropdown-icon">Header</a>
        <ul class="dropdown-menu">
          <li><a routerLink="header1">Header1</a></li>
          <li><a routerLink="banner">Banner</a></li>
          <li><a routerLink="header-notice">Notice</a></li>
        </ul>
      </div>
      <div class="nav-item">
        <a class="dropdown-icon">Home</a>
        <ul class="dropdown-menu">
          <li><a routerLink="homepage1">Home1</a></li>
          <li><a routerLink="home-officer-detail">Officers Details</a></li>
        </ul>
      </div>
      <div class="nav-item">
        <a class="dropdown-icon">Footer</a>
        <ul class="dropdown-menu">
          <li><a routerLink="carouselfooter">Footer-Carousel</a></li>
          <li><a routerLink="footer-address">Footer-Address</a></li>
        </ul>
      </div>
      
      <div class="nav-item">
        <a class="dropdown-icon">About Us</a>
        <ul class="dropdown-menu">
          <li><a routerLink="md-message">MD Message</a></li>
          <li><a routerLink="chairmen-list">List of Chairman</a></li>
          <li><a routerLink="md-list">List Of MD</a></li>
          <li><a routerLink="officer-list">Officers List</a></li>
          <li><a routerLink="employee-list">Our Employee</a></li>
          <li><a routerLink="organizational-structure">Organisational Structure</a></li>
          <li><a routerLink="policies">Policies</a></li>
          <li><a routerLink="acts-and-rules">Acts & Rules</a></li>
          <li><a routerLink="vision">Vision</a></li>
        </ul>
      </div>
      <div class="nav-item">
        <a class="dropdown-icon">Gallery</a>
        <ul class="dropdown-menu">
          <li><a routerLink="photo-upload">Photo Gallery</a></li>
          <li><a routerLink="video-upload">Video Gallery</a></li>
          <li><a routerLink="press-release">Press Release</a></li>
        </ul>
      </div>
      <div class="nav-item">
        <a class="dropdown-icon">Notices</a>
        <ul class="dropdown-menu">
          <li><a routerLink="notices">Notices</a></li>
          <li><a routerLink="office-orders">Office Orders</a></li>
          <li><a routerLink="circulars">Circulars</a></li>
          <li><a routerLink="minute-of-board-meeting">Minutes of Board Meeting</a></li>
        </ul>
      </div>
      <div class="nav-item">
        <a class="dropdown-icon">Tenders</a>
        <ul class="dropdown-menu">
          <li><a routerLink="current-tenders">Current Tenders</a></li>
          <li><a routerLink="archieve-tenders">Archive Tenders</a></li>
        </ul>
      </div>
      <div class="nav-item">
        <a class="dropdown-icon">Schemes</a>
        <ul class="dropdown-menu">
          <li><a routerLink="new-schemes">New Schemes</a></li>
          <li><a routerLink="old-schemes">Old Schemes</a></li>
        </ul>
      </div>
      <div class="nav-item">
        <a routerLink="layout-plan">Layout Plans</a>
      </div>
      <div class="nav-item">
        <a routerLink="feedback">Feedback</a>
      </div>
      <div class="nav-item">
        <a routerLink="career">Career</a>
      </div>
      <div class="nav-item">
        <a routerLink="contact-list">Contact List</a>
      </div>
    </nav>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
