<div class="chairmen-list">
    <h3>Chairmen List</h3>
    <table>
      <thead>
        <tr>
          <th>Sr. No</th>
          <th>Name</th>
          <th>From</th>
          <th>To</th>
          <th>Photo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chairmen of chairmenList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ chairmen.name }}</td>
          <td>{{ chairmen.from | date:'medium' }}</td>
          <td>{{ chairmen.to | date:'medium' }}</td>
          <td><img *ngIf="chairmen.photo" [src]="chairmen.photo" alt="Chairman Photo" style="max-width: 100px;"></td>
        </tr>
      </tbody>
    </table>
  </div>